<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.portfolio_businfo" >
    <!-- 인터넷권한 -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 인터넷 연결 확인 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 위치권환 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_main"
        android:label="광주버스"
        android:networkSecurityConfig="@xml/network_config"
        android:roundIcon="@mipmap/ic_main_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Portfolio_BusInfo"
        android:usesCleartextTraffic="true" >

        <!--구글 maps API-->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="google_geo_API" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".View.Activity.Splash"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".View.Activity.MainActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustNothing" >
        </activity>
        <activity
            android:name=".View.Activity.Arrive_Info"
            android:exported="false" />
        <activity
            android:name=".View.Activity.Line_station_info"
            android:exported="false" />
    </application>

</manifest>
